//
//  Config.xcconfig
//  Simoleon
//
//  Created by Dennis Concepción Martín on 20/07/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - CREATE A FILE NAMED CONFIG AND ADD THIS CONFIGURATION

API_KEY = BFWeJQ3jJtqqpDv5ArNis59pAlFcQ4KF
API_URL = https:\/\/api.1forge.com/
PURCHASES_KEY = QuuDTrxHHZFpUrgCGjIepBuKegamwiVS
